<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table View</title>
  </head>
  <body>
    <main>
      <header>
        <div class="button-container">
          <div class="action-button" id="button-refresh"></div>
          <div class="action-button" id="button-add-row"></div>
          <div class="action-button" id="button-delete"></div>
          <div class="action-button" id="button-save"></div>
          <div class="action-button" id="button-download"></div>
        </div>
      </header>
      <div id="table-container">
        <table id="main-table"></table>
      </div>
    </main>
    <script defer src="../js/app.js"></script>
    <script defer src="../js/resize.js"></script>
  </body>
</html>
